.container-fluid
  .row
    %nav.col-md-2.d-none.d-md-block.sidebar
      = render 'analytics/sidebar', categories: @categories
    %main.col-md-9.ml-sm-auto.col-lg-10.px-4{:role => "main"}
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        %h2 Products
      .row.col-12
        .col-4.card-analytics
          .row.title.justify-content-center.align-self-center
            .h3 Total #{@total_products} products
        .col-4.card-analytics
          .row.title.justify-content-center.align-self-center
            .h3 Download #{@product_downloads.size} products
        .col-4.card-analytics
          .row.title.justify-content-center.align-self-center
            .h3 #{@estimate_month_time_to_download} days left
      %h2 Activities
      .table-responsive
        %table.table.table-striped.table-sm
          %thead
            %tr
              %th #
              %th Name
              %th Files
              %th Download at
          %tbody
          - @product_downloads.each do |product|
            %tr
              %td 
                = product._id
              %td 
                = product.name
              %td 
                = product.product_files.count
              %td 
                = product.download_at