<p id="notice"><%= notice %></p>

<h1>Products: <%= @totals %>, Download: <%= @total_downloads %></h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Card image</th>
      <th>Category</th>
      <th>Files</th>
      <th>Download</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product._id %></td>
        <td><%= product.name %></td>
        <td>
          <img src=<%= product.card_image %> alt="Italian Trulli" width="100">
        </td>
        <td><%= product.category.name %></td>
        <td><%= product.product_files.count %></td>
        <td><%= product.download %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @products %>

<br>

<%= link_to 'New Product', new_product_path %>
